:root {
    --c1: hsl(300,50%,5%);
    --c2: hsl(300,100%,50%);
    --c3: hsl(300,100%,33%);
}

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font: 1rem/1.3 monospace;
    background-color: var(--c1);
    color: #fff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 4vmin;
    margin: 5vmin 0 0;
    padding: 0 1vmin 0 0.25vmin;
    text-transform: lowercase;
    font-weight: 900;
    line-height: 1; 
    background-color: var(--c2);
    color: var(--c1);
    border-left: solid 0.5rem hsl(100,100%,50%);
}

button {
    background-color: var(--c2);
    border: none;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    margin: 0;
    display: block;
    color: #000;
    font-size: 1.25em;
    font-weight: bold;
    transition: all .25s ease-out;
    cursor: pointer;
    font-family: monospace;
    text-transform: uppercase;
    box-shadow: 0 0 3rem 1rem var(--c3);
}

button:hover,
button:active {
    box-shadow: 0 0 0 0.5rem var(--c3);
}

#timer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 90vmin;
    width: 90vmin;
    border-radius: 50%;
    position: relative;
}

.timer-time {
    font-size: 12vmin;
    font-weight: bold;
    display: flex;
    flex-flow: row nowrap;
    margin: .75rem 0 0;
    padding: 0;
    font-family: monospace;
}

.timer-time--minutes::before,
.timer-time--minutes::after {
    content: ':';
}

.timer--marker,
.timer--marker-live {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -.9vmin;
    display: block;
    height: 6vmin;
    width: 1.8vmin;
    background-color: hsl(300,33%,15%);
    transform-origin: 50% 45vmin;
    z-index: -1;
}

.timer--marker-live {
    background-color: hsl(100,100%,50%);
    z-index: 1;
}

.timer--btn-resume,
.timer--btn-clear {
    padding: 1rem;
    margin: 0 .5rem;
}

.timer-time-spent {
    margin: 0 0 .5rem;
    padding: 0;
    opacity: 0.5;
    font-size: smaller;
}
