stopwatch-timer {
  --stopwatch-size: 85vmin;
  order: 1;
  height: var(--stopwatch-size);
  width: var(--stopwatch-size);
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

stopwatch-timer h1 {
  margin: 0;
}

stopwatch-timer button.primary {
  border-radius: 2rem;
  padding: 0;
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

stopwatch-timer button.primary svg {
  width: 66%;
  fill: var(--c1);
  height: auto;
}

.timer-time {
  font-size: 12vmin;
  font-weight: bold;
  display: flex;
  flex-flow: row nowrap;
  margin: .75rem 0 0.5rem;
  padding: 0;
  font-family: monospace;
}

.timer-time--minutes::before,
.timer-time--minutes::after {
  content: ':';
}

.timer--btn-resume,
.timer--btn-clear {
  padding: 1rem;
  margin: 0 .5rem;
}
